html {
    font-size: 10px;
}

body {
    color: #333;
    font-size: 2rem;
}

h1 {
    font-family: 'Niconne', cursive;
    font-size: 6rem;
}

















/* more code */

img {
    max-width: 100%;
    height: auto;
}
