html {
    font-size: 16px;
}

body {
    font-family: 'Slabo 27px', serif;
    color: #333;
}

.container {
    width: 960px;
    margin: 0 auto;
    border: 5px solid #000000;
}







/* more code */

img {
    max-width: 100%;
    height: auto;
}







/* make this better */

body {
    color: #fb5;
    font-size: 1.2rem;
    font-size: 100%;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 1rem auto;
    background-image: url(/assets/img/background.gif);
    background-attachment: fixed;
    background-position: top left;
    background-repeat: repeat-x;
    max-width: 80%;
}

a:link {
    color: #445;
    background-color: #eb6;
}

a:visited {
    color: #345;
    background-color: #eb6;
}

a:hover {
    color: #667;
    background-color: #fb5;
}

a:active {
    color: #778;
    background-color: #ec8;
}

h1 {
    font-family: "Georgia", "Times New Roman", sans-serif;
    font: 2.4em normal;
}

h2 {
    font-family: "Georgia", "Times New Roman", sans-serif;
    font: 1.8em normal;
    margin-top: 1em;
}

h3 {
    font-family: "Georgia", "Times New Roman", sans-serif;
    font: 1.4em normal;
    margin-top: 1em;
}

#navigation a:link,
#navigation a:visited {
    color: #eef;
    background-color: transparent;
    border-color: #99a;
}



a {
    font-weight: bold;
    text-decoration: none;
}

#navigation a.here:link,
#navigation a.here:visited,
#navigation a.here:hover,
#navigation a.here:active {
    color: #eef;
    background-color: #799;
}


#content {
    line-height: 1.8em;
}

#content p {
    margin: 1em 0;
}

img {
    max-width: 100%;
    height: auto;
}


#content {
    color: #223;
    background-color: #edc;
    border-color: #667;
}


#content img {
    border-color: #ba9;
    outline-color: #dcb;
}


#content {
    border-width: .1em;
    border-style: solid;
    border-top-width: 0;
    padding: 2em 10%;
    line-height: 1.8em;
}

#content img {
    border-width: .1em;
    border-style: solid;
    outline-width: .1em;
    outline-style: solid;
}
