@import 'normalize.css';

/*@import 'base/_variables';*/


/*@import 'base/_mixins';*/

@import 'base/_global';
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import 'base/_live-table'
@import 'modules/_header.css';
@import 'modules/_content.css';
@import 'modules/_table.css';
@import 'modules/_navigation.css';
@import 'modules/_gallery.css';
