#imagegallery li {
  display: inline;
}

#imagegallery a {
  background-color: transparent;
}

#slideshow {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
}

img#frame {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  border-width: 0;
  outline-width: 0;
}

img#preview {
  position: absolute;
  border-width: 0;
  outline-width: 0;
}
