#header {
    background-color: #334;
    background-image: url(../images/guitarist.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
    border-width: .1em;
    border-style: solid;
    border-bottom-width: 0;
}

#header {
    color: #ec8;
    border-color: #667;
}
