#navigation {
    color: #455;
    background-color: #789;
    border-color: #667;
}

#navigation ul {
    border-color: #99a;
}

#navigation a:link,
#navigation a:visited {
    color: #eef;
    background-color: transparent;
    border-color: #99a;
}

#navigation a:hover {
    color: #445;
    background-color: #eb6;
}

#navigation a:active {
    color: #667;
    background-color: #ec8;
}

#navigation a.here:link,
#navigation a.here:visited,
#navigation a.here:hover,
#navigation a.here:active {
    color: #eef;
    background-color: #799;
}

#navigation {
    background-image: url(../images/navbar.gif);
    background-position: bottom left;
    background-repeat: repeat-x;
    border-width: .1em;
    border-style: solid;
    border-bottom-width: 0;
    border-top-width: 0;
    padding-left: 10%;
}

#navigation ul {
    width: 100%;
    overflow: hidden;
    border-left-width: .1em;
    border-left-style: solid;
}

#navigation li {
    display: inline;
}

#navigation li a {
    display: block;
    float: left;
    padding: .5em 2em;
    border-right: .1em solid;
}

#navigation {
    font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
}

#navigation a {
    text-decoration: none;
    font-weight: bold;
}
