.primary-nav {

  &--pull-right {
    float: right;
  }

  ul {
    margin: 0;
    padding: 0;

    @mixin clearfix;
  }

  li {
    list-style: none;
    float: left;
  }

  a {
    color: $purple;
    display: block;
    font-weight: 300;
    text-decoration: none;
    padding: 4.2rem 0;
  }
}
