.section-title {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;

  @mixin atSmall {
    font-small: 4rem;
  }

  strong {
    font-weight: 500;
  }

  &--purple {
    color: $purple;
  }

  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
  
  @mixin atSmall {
    position: relative;
    top: 8px;

    margin-right: 1rem;
    margin-left: 0;
    margin-bottom: 0;
    display: inline-block;
  }
}
