th {
  color: #edc;
  background-color: #455;
}

tr td {
  color: #223;
  background-color: #eb6;
}

tr.odd td {
  color: #223;
  background-color: #ec8;
}

tr.highlight td {
  color: #223;
  background-color: #cba;
}

th {
  color: #edc;
  background-color: #455;
}

tr td {
  color: #223;
  background-color: #eb6;
}

tr.odd td {
  color: #223;
  background-color: #ec8;
}

tr.highlight td {
  color: #223;
  background-color: #cba;
}
dl {
  overflow: hidden;
}

dt {
  float: left;
}

dd {
  float: left;
}
